body{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0;
    background-color: #000;
    min-height: 100vh;
}

.imagem{
    display: flex;
    max-width: 15%;
    height: auto;
}

.footer{
    background-color: #111;
    color: #aaa;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
    border-top: 1px solid #333;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #111;
    padding: 20px;
    flex-direction: column; 
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;
    background-color: #1a1a1a;
}

.button{
    text-decoration: none;
    color: white;
    padding: 1rem;
    background-color: #111;
    border-radius: 10px;
    font-weight: bold;
}

.button:hover{
    transition: 0.5s;
    border: solid 2px #39ff14;
    transform: scale(1.15);
    box-shadow: 0 0 20px #39ff14;
}
.formulario{
    background-color: #1a1a1a;
    display: flex;
    border-radius: 1rem;
    width: 100%;
    max-width: 22rem;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    color: #39ff14;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.topo{
    text-align: center;
    display: flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #111;
    gap: 10px;
    align-items: center;
    position: relative;
    padding: 15px;
}

.topo h1{
    position: absolute;
    font-size: clamp(1.5rem, 5vw, 3rem);
    left: 50%;
    transform: translateX(-50%);
}