body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    background-color: #000;
}

.header {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #111;
    padding: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #111;
    padding: 10px;
    flex-direction: column; 
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #00ff88;
}

@media (min-width: 768px) {
    .menu {
        flex-direction: row; 
    }
}
