body{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    background-color: yellow;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #111;
    padding: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #00ff88;
}

.header{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #111;
}