body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    background-color: #000;
}

.imagem{
    display: flex;
    height: auto;
    max-width: 15%;
}
.header {
    text-align: center;
    font-weight: bold;
    font-family:"Roboto Condensed", sans-serif;
    color: whitesmoke;
    background-color: #111;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.header h1 {
    position: absolute;
    font-size: clamp(1.5rem, 5vw, 3rem);
    left: 50%;
    transform: translateX(-50%);
}
.footer {
    background-color: #111;
    color: #aaa;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
    border-top: 1px solid #333;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #111;
    padding: 20px;
    flex-direction: column; 
}

.button{
    text-decoration: none;
    color: white;
    padding: 1rem;
    background-color: #111;
    border-radius: 10px;
    font-weight: bold;
}

.button:hover{
    transition: 0.5s;
    border: solid 2px #39ff14;
    transform: scale(1.15);
    box-shadow: 0 0 20px #39ff14;
}

.hero {

    background-color: #1a1a1a;
    color: white;
    padding: 6rem 10rem;
    margin: 3rem auto;
    max-width: 90rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

.hero p{
    font-weight: bold;
    font-size: medium;
    font-family: "Montserrat", sans-serif;
}

.hero h2{
    font-weight: bold;
    font-size: large;
    font-family: "Montserrat", sans-serif;
}

.section{
    padding: 15px 20px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    background: #1a1a1a;
    border: 2px solid #39ff14;
    border-radius: 12px;
    padding: 25px;
    width: 280px;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #39ff14;
}

.card h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #39ff14;
}

.card p{
    font-size: 1rem;
    color: #ccc;
}

@media (min-width: 768px) {
    .menu {
        flex-direction: row; 
    }
}
/* Tablet */
@media (max-width: 768px) {
    .hero {
        padding: 30px 15px;
        margin: 20px 10px;
    }
    .header{
        justify-content: space-between;
    }
    .imagem{
        max-width: 30%;
    }
    .header h1 {
        
        position: static; 
        transform: none;
        text-align: center;
        margin-top: 10px; 
    }

    .hero h2 {
        font-size: 22px;
    }

    .hero p {
        font-size: 16px;
    }
    
}


.button_conheca {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #24f300;
    color: white;
    font-size: large;
    padding: 12px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.button_conheca:hover {
    background-color: #2b8d1a;
    transform: scale(1.05);
}